*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#111;
color:white;
}

header{
text-align:center;
padding:20px;
background:#000;
}

.search-section{
display:flex;
justify-content:center;
margin:30px 0;
}

.search-section input{
padding:12px;
width:250px;
border:none;
border-radius:5px;
}

.search-section button{
padding:12px 20px;
border:none;
background:#e50914;
color:white;
margin-left:10px;
border-radius:5px;
cursor:pointer;
}

.movie-container{
display:flex;
justify-content:center;
margin-top:20px;
padding:20px;
}

.movie-card{
background:#1c1c1c;
border-radius:10px;
width:300px;
overflow:hidden;
box-shadow:0 5px 15px rgba(0,0,0,0.5);
transition:0.3s;
}

.movie-card:hover{
transform:scale(1.05);
}

.movie-card img{
width:100%;
}

.movie-info{
padding:15px;
}

.movie-info h2{
margin-bottom:10px;
}

.movie-info p{
margin:5px 0;
font-size:14px;
}